body {
    font-size: 16px;
}

/*主選單區*/
header nav.navbar-expand-lg {
    padding: 30px 0px;
}
header nav.navbar-expand-lg .navbar-nav .nav-item {
    margin: auto 30px;
}
header nav.navbar-expand-lg .navbar-nav .nav-item a.nav-link {
    font-weight: 700;
    color: #3F5D45;
}
header nav.navbar-expand-lg .add_cart_btn {
    margin-left: 30px;
}
header nav.navbar-expand-lg .navbar-toggler {
    border: none;
}

/*首頁BN區*/
.index_bn_area .index_bn_banner {
    background-image: url('../images/photo-01.jpg');
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 500px;
}
.index_bn_area .index_bn_itemgp {
    padding: 0% 80px;
    margin: -100px auto 80px;
    display: flex;
}
.index_bn_area .index_bn_itemgp .index_bn_item {
    width: 100%;
}
.index_bn_area .index_bn_itemgp .index_bn_item:nth-child(1) {
    background: linear-gradient(rgba(63, 93, 69, 0.5), rgba(63, 93, 69, 0.8)), url('../images/photo-02.jpg') 50% 50% / cover no-repeat;
}
.index_bn_area .index_bn_itemgp .index_bn_item:nth-child(2) {
    background: linear-gradient(rgba(63, 93, 69, 0.5), rgba(63, 93, 69, 0.8)), url('../images/photo-03.jpg') 50% 50% / cover no-repeat;
}
.index_bn_area .index_bn_itemgp .index_bn_item:nth-child(3) {
    background: linear-gradient(rgba(63, 93, 69, 0.5), rgba(63, 93, 69, 0.8)), url('../images/photo-04.jpg') 50% 50% / cover no-repeat;
}
.index_bn_area .index_bn_itemgp .index_bn_item a {
    display:flex;
    width: 100%;
    min-height: 256px;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    text-decoration: none;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.index_bn_area .index_bn_itemgp .index_bn_item a span {
    text-align: center;
    -webkit-writing-mode: vertical-lr;
    writing-mode: vertical-lr;
    font-size: 24px;
    font-weight: 700;
    color: #FFF;
}
.index_bn_area .index_bn_itemgp .index_bn_item:nth-child(1):hover {
    background: linear-gradient(rgba(255, 225, 128, 0.5), rgba(255, 225, 128, 0.8)), url('../images/photo-02.jpg') 50% 50% / cover no-repeat;
}
.index_bn_area .index_bn_itemgp .index_bn_item:nth-child(2):hover {
    background: linear-gradient(rgba(255, 225, 128, 0.5), rgba(255, 225, 128, 0.8)), url('../images/photo-03.jpg') 50% 50% / cover no-repeat;
}
.index_bn_area .index_bn_itemgp .index_bn_item:nth-child(3):hover {
    background: linear-gradient(rgba(255, 225, 128, 0.5), rgba(255, 225, 128, 0.8)), url('../images/photo-04.jpg') 50% 50% / cover no-repeat;
}
.index_bn_area .index_bn_itemgp .index_bn_item:hover a span {
    color: #3F5D45;
}
@media (max-width : 767px) {
    .index_bn_area .container, .index_bn_area .container .col-12 {
        padding-left: 0px;
        padding-right: 0px;
    }
    .index_bn_area .container .row {
        margin-left: 0px;
        margin-right: 0px;
    }
    .index_bn_area .index__bn_banner {
        min-height: 277px;
    }
    .index_bn_area .index_bn_itemgp {
        padding: 0%;
        margin: 0px auto 80px;
    }
    .index_bn_area .index_bn_itemgp .index_bn_item a {
        min-height: 180px;
    }
    .index_bn_area .index_bn_itemgp .index_bn_item a span {
        font-size: 20px;
    }
}

/*主要區塊*/
section.index_mainarea01, section.index_mainarea02 {
    background-color: #EAF0ED;
    max-height: 420px;
    margin-bottom: 105px;
}
section.index_mainarea01 .container .mainarea01, section.index_mainarea02 .container .mainarea01 {
    margin-top: -20px;
}
section.index_mainarea01 .container .mainarea02 .imgbox, section.index_mainarea02 .container .mainarea02 .imgbox {
    width: 100%;
    height: 460px;
    overflow: hidden;
    position: relative;
    margin-top: -20px;
}
section.index_mainarea01 .container .mainarea02 .imgbox img, section.index_mainarea02 .container .mainarea02 .imgbox img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}
section.index_mainarea01 .container .mainarea03, section.index_mainarea02 .container .mainarea03 {
    -webkit-writing-mode: vertical-rl;
    writing-mode: vertical-rl;
    text-align: left;
    color: #8DA291;
    padding: 70px 80px 70px 0px;
    height: 420px;
    line-height: 3em;
}
/*首頁主要區塊順序調整-第一塊*/
section.index_mainarea01 .container .mainarea01 {
    order: 03;
}
section.index_mainarea01 .container .mainarea02 {
    order: 01;
}
section.index_mainarea01 .container .mainarea03 {
    order: 02;
}
/*首頁主要區塊順序調整-第二塊*/
section.index_mainarea02 .container .mainarea01 {
    order: 02;
}
section.index_mainarea02 .container .mainarea02 {
    order: 03;
}
section.index_mainarea02 .container .mainarea03 {
    order: 01;
}
@media (max-width : 767px) {
    section.index_mainarea01, section.index_mainarea02 {
        max-height: none;
        margin-bottom: 30px;
        margin-top: 120px;
    }
    section.index_mainarea01 .container, section.index_mainarea01 .container .col-12, section.index_mainarea02 .container, section.index_mainarea02 .container .col-12 {
        padding-left: 0px;
        padding-right: 0px;
    }
    section.index_mainarea01 .container .row, section.index_mainarea02 .container .row {
        margin-left: 0px;
        margin-right: 0px;
    }
    section.index_mainarea01 .container .mainarea02 .imgbox, section.index_mainarea02 .container .mainarea02 .imgbox {
        height: 250px;
        margin-top: 0px;
    }
    section.index_mainarea01 .container .mainarea01, section.index_mainarea02 .container .mainarea01 {
        order: 01;
        padding: 30px;
        text-align: center;
        margin-top: -120px;
    }
    section.index_mainarea01 .container .mainarea01 img, section.index_mainarea02 .container .mainarea01 img {
        margin: auto;
    }
    section.index_mainarea01 .container .mainarea02, section.index_mainarea02 .container .mainarea02 {
        order: 02;
    }
    section.index_mainarea01 .container .mainarea03, section.index_mainarea02 .container .mainarea03 {
        order: 03;
        -webkit-writing-mode: inherit;
        writing-mode: inherit;
        line-height: 2em;
        padding: 30px;
        height: inherit;
    }
}
@media (max-width : 990px) {
    section.index_mainarea01 .container .mainarea01 {
        order: 01;
    }
    section.index_mainarea01 .container .mainarea02 {
        order: 02;
    }
    section.index_mainarea01 .container .mainarea03 {
        order: 03;
    }
    section.index_mainarea02 .container .mainarea01 {
        order: 01;
    }
    section.index_mainarea02 .container .mainarea02 {
        order: 03;
    }
    section.index_mainarea02 .container .mainarea03 {
        order: 02;
    }
    section.index_mainarea01, section.index_mainarea02 {
        max-height: none;
        margin-bottom: 30px;
        margin-top: 120px;
    }
    section.index_mainarea01 .container .mainarea01, section.index_mainarea02 .container .mainarea01 {
        margin-top: -120px;
    }
    section.index_mainarea01 .container .mainarea01, section.index_mainarea02 .container .mainarea01 {
        order: 01;
        padding: 30px;
        text-align: center;
    }
    section.index_mainarea01 .container .mainarea01 img, section.index_mainarea02 .container .mainarea01 img {
        margin: auto;
    }
    section.index_mainarea01 .container .mainarea03, section.index_mainarea02 .container .mainarea03 {
        line-height: 2em;
        padding: 30px 0px;
    }
}
/*主要區塊三*/
.index_mainarea03 {
    margin-bottom: 80px;
}
.index_mainarea03 .col-12 img {
    max-width: 90px;
    margin: auto;
}
@media (max-width : 767px) {
    .index_mainarea03 {
        margin-bottom: 30px;
    }
    .index_mainarea03 .col-12 img {
        max-width: 226px;
        margin: auto;
    }
}

/*商品列表區塊*/
.product_list_area {
    margin-bottom: 60px;
}
.product_list_area.listpage {
    margin-top: 60px;
}
.product_list .img_box {
    width: 100%;
    height: 315px;
    overflow: hidden;
    position: relative;
}
.product_list .img_box img.main_img {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}
.product_list .img_box span {
    position: absolute;
    top: 0%;
    left: 20px;
    display: inline-block;
    padding: 10px;
    -webkit-writing-mode: vertical-lr;
    writing-mode: vertical-lr;
    font-weight: 700;
    color: #EAF0ED;
    background-color: #3F5D45;
}
.product_list .img_box a.add_favorite_btn {
    position: absolute;
    top: 20px;
    right: 20px;
    display: inline-block;
}
.product_list .img_box a.add_favorite_btn img {
    width: 20px;
}
.product_list .text_box {
    display: flex;
    border: solid 1px #EAF0ED;
}
.product_list .text_box h3, .product_list .text_box span {
    flex: auto;
    display: block;
    text-align: center;
    font-size: 20px;
    color: #3F5D45;
    padding: 14px 0px;
    margin: 0px;
    vertical-align: middle;
}
.product_list .text_box span {
    border-left: solid 1px #EAF0ED;
    font-weight: 700;
}
.product_list a.add_cart_btn {
    display: block;
    text-align: center;
    padding: 16px 0px;
    font-size: 24px;
    font-weight: 700;
    color: #3F5D45;
    text-decoration: none;
    background-color: #EAF0ED;
}
.product_list_area.listpage .product_list {
    margin-bottom: 20px;
}
.product_list .img_box {
    height: inherit;
}
.product_list_area.listpage .product_list .img_box img.main_img {
    position: relative;
    top: auto;
    left: auto;
    transform: none;
}
@media (max-width : 767px) {
    .owl-nav, .owl-dots {
        display: none;
    }
}

/*首頁電子報訂閱*/
section.sub_edm {
    padding: 30px 0px;
    background-color: #3F5D45;
}
section.sub_edm .text_box {
    font-size: 24px;
    font-weight: 400;
    color: #EAF0ED;
}
section.sub_edm .text_box img {
    width: 40px;
    margin-right: 20px;
}
section.sub_edm .input-group .input-group-text, section.sub_edm .input-group .form-control {
    border-radius: 0px;
    background-color: #EAF0ED;
    border: none;
}
section.sub_edm .input-group button.btn-outline-secondary {
    border-radius: 0px;
    background-color: #FFE180;
    border: none;
}
@media (max-width : 767px) {
    section.sub_edm .text_box {
        padding: 0px 0px 30px;
        text-align: center;
    }
}

/*footer*/
footer {
    background-color: #EAF0ED;
    padding: 30px 0px;
}
footer .main_area {
    position: relative;
}
footer .main_area img {
    max-width: 170px;
}
footer .main_area .text_box {
    padding-left: 12px;
    position: absolute;
    left: 0;
    bottom: 0;
}
footer .main_area .text_box a {
    display: block;
    font-weight: 400;
    color: #3F5D45;
    text-decoration: none;
}
footer .slogan {
    text-align: right;
}
footer .slogan img {
    width: 59px;
}
footer .copyright {
    margin-top: 30px;
}
footer .copyright .btn_group a {
    margin-right: 8px;
    text-decoration: none;
}
footer .copyright .btn_group a img {
    width: 32px;
}
footer .copyright p {
    text-align: right;
}
@media (max-width : 767px) {
    footer .main_area {
        padding: 40px 30px;
    }
    footer .main_area img {
        margin-bottom: 40px;
    }
    footer .main_area .text_box {
        padding-left: 0px;
        position: relative;
    }
    footer .slogan {
        display: none;
    }
    footer .copyright {
        margin-top: 0px;
        padding: 0px 30px;
    }
    footer .copyright .btn_group {
        margin-bottom: 20px;
    }
    footer .copyright p {
        text-align: left;
    }
}

/*產品列表頁*/
.product_bn_area .product_bn_banner {
    background-image: url('../images/banner.png');
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 500px;
}